body {
    margin: 0;
}
ul {
    list-style-type: none;
}

.home {
width: 100%;
height: 100%;
background: lightblue;
padding: 20px;
}

.headline {
    font-size: 5rem;
    font-family: sans-serif;
    color: lightcoral;
}

.nav-links {
color: black;
font-size: 40px;
text-decoration: none;
}

.icecream{
    width: 300px;
}